In [18]:
import pandas as pd
import numpy as np
import datetime as dt
import pytz

In [3]:
df = pd.read_csv(r'C:\Users\Morty\Desktop\tasks\test1.csv')

In [4]:
df

,pk,duration,fraud operator,call date,network_name,order_name,country_name,operator_name,route_number,transit number,fraud number,b number,status_name
0,653765,0,NaN,2021-02-28 23:30:17,TRANSIT,vivobr3,Ukraine,transit4,***,380683896***,***,5521997799234,no-data
1,653766,0,NaN,2021-02-28 23:30:17,TRANSIT,vivobr1,Belarus,transit4,***,375295573***,27998091477,5521943907825,fraud-oper
2,653763,0,NaN,2021-02-28 23:24:17,IP,vivobr2,Russia,Vppr,79210057***,***,18991138242,5521971841857,fraud-local
3,653748,0,NaN,2021-02-28 23:04:17,TRANSIT,vivobr3,Kazakhstan,transit4,***,77780970***,27998686730,5521956692274,fraud-oper
4,653740,0,NaN,2021-02-28 22:57:17,IP,vivobr2,Mexico,zadarma7,525541696***,***,***,5521941632790,no-data
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26311,487317,0,NaN,2021-02-11 08:29:09,GSM,vivobr4,Armenia,Ucom,37495310***,***,***,5529999132217,no-data
26312,487316,0,NaN,2021-02-11 08:29:09,GSM,vivobr4,Armenia,MTS,37493542***,***,***,5529996129593,no-data
26313,487314,0,NaN,2021-02-11 08:29:08,GSM,vivobr4,Armenia,Beeline,37443107***,***,***,5529996658889,no-data
26314,487315,0,NaN,2021-02-11 08:29:08,GSM,vivobr4,Kyrgyzstan,O!,996505505***,***,***,5529997756823,no-data
26315,487313,0,NaN,2021-02-11 08:29:08,GSM,vivobr4,Georgia,Geocell,995555904***,***,***,5529996129593,no-data

In [32]:
df['call date'].apply(lambda x: x.tz_localize('UTC'))

0       2021-02-28 23:30:17+00:00
1       2021-02-28 23:30:17+00:00
2       2021-02-28 23:24:17+00:00
3       2021-02-28 23:04:17+00:00
4       2021-02-28 22:57:17+00:00
                   ...
26311   2021-02-11 08:29:09+00:00
26312   2021-02-11 08:29:09+00:00
26313   2021-02-11 08:29:08+00:00
26314   2021-02-11 08:29:08+00:00
26315   2021-02-11 08:29:08+00:00
Name: call date, Length: 26316, dtype: datetime64[ns, UTC]

In [23]:
df['call date'] = pd.to_datetime(df['call date'])

In [24]:
df['call date']

0       2021-02-28 23:30:17
1       2021-02-28 23:30:17
2       2021-02-28 23:24:17
3       2021-02-28 23:04:17
4       2021-02-28 22:57:17
                ...
26311   2021-02-11 08:29:09
26312   2021-02-11 08:29:09
26313   2021-02-11 08:29:08
26314   2021-02-11 08:29:08
26315   2021-02-11 08:29:08
Name: call date, Length: 26316, dtype: datetime64[ns]

In [31]:
df['call date'].dt.tz_localize('GMT').dt.tz_convert('Asia/Almaty')

0       2021-03-01 05:30:17+06:00
1       2021-03-01 05:30:17+06:00
2       2021-03-01 05:24:17+06:00
3       2021-03-01 05:04:17+06:00
4       2021-03-01 04:57:17+06:00
                   ...
26311   2021-02-11 14:29:09+06:00
26312   2021-02-11 14:29:09+06:00
26313   2021-02-11 14:29:08+06:00
26314   2021-02-11 14:29:08+06:00
26315   2021-02-11 14:29:08+06:00
Name: call date, Length: 26316, dtype: datetime64[ns, Asia/Almaty]

In [34]:
df['call date'] = df['call date'].dt.tz_localize('GMT').dt.tz_convert('Asia/Almaty')

In [35]:
df['call date']

0       2021-03-01 05:30:17+06:00
1       2021-03-01 05:30:17+06:00
2       2021-03-01 05:24:17+06:00
3       2021-03-01 05:04:17+06:00
4       2021-03-01 04:57:17+06:00
                   ...
26311   2021-02-11 14:29:09+06:00
26312   2021-02-11 14:29:09+06:00
26313   2021-02-11 14:29:08+06:00
26314   2021-02-11 14:29:08+06:00
26315   2021-02-11 14:29:08+06:00
Name: call date, Length: 26316, dtype: datetime64[ns, Asia/Almaty]

In [37]:
df

,pk,duration,fraud operator,call date,network_name,order_name,country_name,operator_name,route_number,transit number,fraud number,b number,status_name
0,653765,0,NaN,2021-03-01 05:30:17+06:00,TRANSIT,vivobr3,Ukraine,transit4,***,380683896***,***,5521997799234,no-data
1,653766,0,NaN,2021-03-01 05:30:17+06:00,TRANSIT,vivobr1,Belarus,transit4,***,375295573***,27998091477,5521943907825,fraud-oper
2,653763,0,NaN,2021-03-01 05:24:17+06:00,IP,vivobr2,Russia,Vppr,79210057***,***,18991138242,5521971841857,fraud-local
3,653748,0,NaN,2021-03-01 05:04:17+06:00,TRANSIT,vivobr3,Kazakhstan,transit4,***,77780970***,27998686730,5521956692274,fraud-oper
4,653740,0,NaN,2021-03-01 04:57:17+06:00,IP,vivobr2,Mexico,zadarma7,525541696***,***,***,5521941632790,no-data
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26311,487317,0,NaN,2021-02-11 14:29:09+06:00,GSM,vivobr4,Armenia,Ucom,37495310***,***,***,5529999132217,no-data
26312,487316,0,NaN,2021-02-11 14:29:09+06:00,GSM,vivobr4,Armenia,MTS,37493542***,***,***,5529996129593,no-data
26313,487314,0,NaN,2021-02-11 14:29:08+06:00,GSM,vivobr4,Armenia,Beeline,37443107***,***,***,5529996658889,no-data
26314,487315,0,NaN,2021-02-11 14:29:08+06:00,GSM,vivobr4,Kyrgyzstan,O!,996505505***,***,***,5529997756823,no-data
26315,487313,0,NaN,2021-02-11 14:29:08+06:00,GSM,vivobr4,Georgia,Geocell,995555904***,***,***,5529996129593,no-data

In [41]:
df['fraud operator'].value_counts()

Claro S.A    109
Oi             5
Vivo S.A.      3
Uzmobile       1
TIM            1
Name: fraud operator, dtype: int64

In [43]:
df['fraud operator'].unique()

array([nan, 'Claro S.A', 'Uzmobile', 'Oi', 'Vivo S.A.', 'TIM'],
      dtype=object)

In [166]:
df['call date'].dt.date(

0        2021-03-01
1        2021-03-01
2        2021-03-01
3        2021-03-01
4        2021-03-01
            ...
26311    2021-02-11
26312    2021-02-11
26313    2021-02-11
26314    2021-02-11
26315    2021-02-11
Name: call date, Length: 26316, dtype: object

In [172]:
df['call_day'] = df['call date'].dt.date

In [197]:
df.loc[lambda x: x['status_name'] == 'fraud-oper'].groupby(['call_day', 'country_name', 'operator_name']).agg({'fraud number': [('uniq_count', lambda x: len(set(x)))]}).droplevel(0, 1)

                                       uniq_count
call_day   country_name operator_name
2021-02-11 Belarus      Transit3                1
           Kyrgyzstan   Transit3                1
           Russia       Transit3                1
2021-02-15 Azerbaijan   Transit3                7
                        transit4                1
...                                           ...
2021-03-01 Russia       Vppr                    2
                        transit4                7
           Ukraine      transit4               15
           Uruguay      Claro                   1
                        Movistar                1

[283 rows x 1 columns]

In [198]:
df2 = df.loc[lambda x: x['status_name'] == 'fraud-oper'].groupby(['call_day', 'country_name', 'operator_name']).agg({'fraud number': [('uniq_count', lambda x: len(set(x)))]}).droplevel(0, 1)

In [178]:
df['order_name'].unique()

array(['vivobr3', 'vivobr1', 'vivobr2', 'vivobr4'], dtype=object)

In [87]:
df['operator_name'].unique()

array(['transit4', 'Vppr', 'zadarma7', 'Claro', 'Movistar', 'Vodafone',
       'Movil', 'VOX', 'Beeline', 'Zdrm', 'Geocell', 'Tele2', 'Megafon',
       'Mobicom', 'Life', 'Lifecell', 'Kyivstar', 'Vodafone(don)', 'Zain',
       'Telefonica', 'MTS', 'Azercell', 'Wind', 'Orange', 'Bite', 'LMT',
       'Moldcell', 'Mobily', 'STC', 'DU', 'Etisalat', 'Altise', 'Ucom',
       'Uzmobile', 'transit5', 'Kcell', 'Mobiuz', 'Altel', 'Transit3',
       'O!', 'Humans', 'Zdrm2', 'SK Telecom'], dtype=object)

In [159]:
df['fraud operator'].value_counts()

Claro S.A    109
Oi             5
Vivo S.A.      3
Uzmobile       1
TIM            1
Name: fraud operator, dtype: int64

In [106]:
df[df['fraud number'] != '***']

,pk,duration,fraud operator,call date,network_name,order_name,country_name,operator_name,route_number,transit number,fraud number,b number,status_name
1,653766,0,NaN,2021-03-01 05:30:17+06:00,TRANSIT,vivobr1,Belarus,transit4,***,375295573***,27998091477,5521943907825,fraud-oper
2,653763,0,NaN,2021-03-01 05:24:17+06:00,IP,vivobr2,Russia,Vppr,79210057***,***,18991138242,5521971841857,fraud-local
3,653748,0,NaN,2021-03-01 05:04:17+06:00,TRANSIT,vivobr3,Kazakhstan,transit4,***,77780970***,27998686730,5521956692274,fraud-oper
6,653738,0,NaN,2021-03-01 04:53:17+06:00,TRANSIT,vivobr3,Kyrgyzstan,transit4,***,996700947***,27999090***,5529998949221,false-detection
7,653736,0,NaN,2021-03-01 04:51:17+06:00,TRANSIT,vivobr1,Russia,transit4,***,79384834***,27997986118,5521932430865,fraud-oper
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26291,487955,55,NaN,2021-02-11 16:12:27+06:00,GSM,vivobr1,Moldova,Orange,37362175***,***,37362175***,5521995166850,no-fraud
26293,487938,46,NaN,2021-02-11 16:10:27+06:00,GSM,vivobr1,Uzbekistan,Mobiuz,998881224***,***,998881224***,5521975546424,no-fraud
26294,487930,50,NaN,2021-02-11 16:09:27+06:00,GSM,vivobr1,Kyrgyzstan,Beeline,996222130***,***,996222130***,5521933161132,no-fraud
26297,487686,21,NaN,2021-02-11 15:22:03+06:00,GSM,vivobr1,Germany,Vodafone,4915290182***,***,1131573***,5521969028655,no-data
26299,487402,45,NaN,2021-02-11 14:39:43+06:00,GSM,vivobr2,Uzbekistan,Humans,998330809***,***,998330809***,5521942625035,no-fraud

In [186]:
df[['fraud number', 'operator_name']][df['fraud number'].str.startswith('5521') == True]

       fraud number operator_name
4878    55210034000      Movistar
7298   552141185***          Vppr
9127       55210000      Azercell
9411    55210034***           VOX
9421    55210000***         Claro
9938    55210000000      Movistar
11198   55210034***      transit4
11610   55210000000           VOX
13584   55210000000          Zain
13668   55210000000      Azercell
13879   55210034***      transit4
13900   55210000***      Movistar
14217   55210000000          Zain
15111   55210000000           VOX
15398   55210000000      Azercell
15466   55210000***      Lifecell
15483   55210000000           VOX
17964   55210034000           VOX
19807   55210000000         Claro

In [203]:
Claro_df = df[['fraud number', 'operator_name']][df['fraud number'].str.startswith('5521') == True]

In [157]:
df[['fraud number', 'operator_name']]

      fraud number operator_name
0              ***      transit4
1      27998091477      transit4
2      18991138242          Vppr
3      27998686730      transit4
4              ***      zadarma7
...            ...           ...
26311          ***          Ucom
26312          ***           MTS
26313          ***       Beeline
26314          ***            O!
26315          ***       Geocell

[26316 rows x 2 columns]

In [141]:
range(df['fraud number'].size)

range(0, 26316)

In [187]:
df

,pk,duration,fraud operator,call date,network_name,order_name,country_name,operator_name,route_number,transit number,fraud number,b number,status_name,call_day
0,653765,0,NaN,2021-03-01 05:30:17+06:00,TRANSIT,vivobr3,Ukraine,transit4,***,380683896***,***,5521997799234,no-data,2021-03-01
1,653766,0,NaN,2021-03-01 05:30:17+06:00,TRANSIT,vivobr1,Belarus,transit4,***,375295573***,27998091477,5521943907825,fraud-oper,2021-03-01
2,653763,0,NaN,2021-03-01 05:24:17+06:00,IP,vivobr2,Russia,Vppr,79210057***,***,18991138242,5521971841857,fraud-local,2021-03-01
3,653748,0,NaN,2021-03-01 05:04:17+06:00,TRANSIT,vivobr3,Kazakhstan,transit4,***,77780970***,27998686730,5521956692274,fraud-oper,2021-03-01
4,653740,0,NaN,2021-03-01 04:57:17+06:00,IP,vivobr2,Mexico,zadarma7,525541696***,***,***,5521941632790,no-data,2021-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26311,487317,0,NaN,2021-02-11 14:29:09+06:00,GSM,vivobr4,Armenia,Ucom,37495310***,***,***,5529999132217,no-data,2021-02-11
26312,487316,0,NaN,2021-02-11 14:29:09+06:00,GSM,vivobr4,Armenia,MTS,37493542***,***,***,5529996129593,no-data,2021-02-11
26313,487314,0,NaN,2021-02-11 14:29:08+06:00,GSM,vivobr4,Armenia,Beeline,37443107***,***,***,5529996658889,no-data,2021-02-11
26314,487315,0,NaN,2021-02-11 14:29:08+06:00,GSM,vivobr4,Kyrgyzstan,O!,996505505***,***,***,5529997756823,no-data,2021-02-11
26315,487313,0,NaN,2021-02-11 14:29:08+06:00,GSM,vivobr4,Georgia,Geocell,995555904***,***,***,5529996129593,no-data,2021-02-11

In [193]:
df.to_excel('test1_solved2.xlsx')

ValueError: Excel does not support datetimes with timezones. Please ensure that datetimes are timezone unaware before writing to Excel.

In [194]:
df['call date'] = df['call date'].dt.tz_localize(None)

In [195]:
df

,pk,duration,fraud operator,call date,network_name,order_name,country_name,operator_name,route_number,transit number,fraud number,b number,status_name,call_day
0,653765,0,NaN,2021-03-01 05:30:17,TRANSIT,vivobr3,Ukraine,transit4,***,380683896***,***,5521997799234,no-data,2021-03-01
1,653766,0,NaN,2021-03-01 05:30:17,TRANSIT,vivobr1,Belarus,transit4,***,375295573***,27998091477,5521943907825,fraud-oper,2021-03-01
2,653763,0,NaN,2021-03-01 05:24:17,IP,vivobr2,Russia,Vppr,79210057***,***,18991138242,5521971841857,fraud-local,2021-03-01
3,653748,0,NaN,2021-03-01 05:04:17,TRANSIT,vivobr3,Kazakhstan,transit4,***,77780970***,27998686730,5521956692274,fraud-oper,2021-03-01
4,653740,0,NaN,2021-03-01 04:57:17,IP,vivobr2,Mexico,zadarma7,525541696***,***,***,5521941632790,no-data,2021-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26311,487317,0,NaN,2021-02-11 14:29:09,GSM,vivobr4,Armenia,Ucom,37495310***,***,***,5529999132217,no-data,2021-02-11
26312,487316,0,NaN,2021-02-11 14:29:09,GSM,vivobr4,Armenia,MTS,37493542***,***,***,5529996129593,no-data,2021-02-11
26313,487314,0,NaN,2021-02-11 14:29:08,GSM,vivobr4,Armenia,Beeline,37443107***,***,***,5529996658889,no-data,2021-02-11
26314,487315,0,NaN,2021-02-11 14:29:08,GSM,vivobr4,Kyrgyzstan,O!,996505505***,***,***,5529997756823,no-data,2021-02-11
26315,487313,0,NaN,2021-02-11 14:29:08,GSM,vivobr4,Georgia,Geocell,995555904***,***,***,5529996129593,no-data,2021-02-11

In [196]:
df.to_excel('test1_solved2.xlsx')

In [199]:
df2

                                       uniq_count
call_day   country_name operator_name
2021-02-11 Belarus      Transit3                1
           Kyrgyzstan   Transit3                1
           Russia       Transit3                1
2021-02-15 Azerbaijan   Transit3                7
                        transit4                1
...                                           ...
2021-03-01 Russia       Vppr                    2
                        transit4                7
           Ukraine      transit4               15
           Uruguay      Claro                   1
                        Movistar                1

[283 rows x 1 columns]

In [200]:
df2.to_excel('test1_solved22.xlsx')

In [201]:
df3 = df

In [202]:
df3

,pk,duration,fraud operator,call date,network_name,order_name,country_name,operator_name,route_number,transit number,fraud number,b number,status_name,call_day
0,653765,0,NaN,2021-03-01 05:30:17,TRANSIT,vivobr3,Ukraine,transit4,***,380683896***,***,5521997799234,no-data,2021-03-01
1,653766,0,NaN,2021-03-01 05:30:17,TRANSIT,vivobr1,Belarus,transit4,***,375295573***,27998091477,5521943907825,fraud-oper,2021-03-01
2,653763,0,NaN,2021-03-01 05:24:17,IP,vivobr2,Russia,Vppr,79210057***,***,18991138242,5521971841857,fraud-local,2021-03-01
3,653748,0,NaN,2021-03-01 05:04:17,TRANSIT,vivobr3,Kazakhstan,transit4,***,77780970***,27998686730,5521956692274,fraud-oper,2021-03-01
4,653740,0,NaN,2021-03-01 04:57:17,IP,vivobr2,Mexico,zadarma7,525541696***,***,***,5521941632790,no-data,2021-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26311,487317,0,NaN,2021-02-11 14:29:09,GSM,vivobr4,Armenia,Ucom,37495310***,***,***,5529999132217,no-data,2021-02-11
26312,487316,0,NaN,2021-02-11 14:29:09,GSM,vivobr4,Armenia,MTS,37493542***,***,***,5529996129593,no-data,2021-02-11
26313,487314,0,NaN,2021-02-11 14:29:08,GSM,vivobr4,Armenia,Beeline,37443107***,***,***,5529996658889,no-data,2021-02-11
26314,487315,0,NaN,2021-02-11 14:29:08,GSM,vivobr4,Kyrgyzstan,O!,996505505***,***,***,5529997756823,no-data,2021-02-11
26315,487313,0,NaN,2021-02-11 14:29:08,GSM,vivobr4,Georgia,Geocell,995555904***,***,***,5529996129593,no-data,2021-02-11

In [204]:
Claro_df

       fraud number operator_name
4878    55210034000      Movistar
7298   552141185***          Vppr
9127       55210000      Azercell
9411    55210034***           VOX
9421    55210000***         Claro
9938    55210000000      Movistar
11198   55210034***      transit4
11610   55210000000           VOX
13584   55210000000          Zain
13668   55210000000      Azercell
13879   55210034***      transit4
13900   55210000***      Movistar
14217   55210000000          Zain
15111   55210000000           VOX
15398   55210000000      Azercell
15466   55210000***      Lifecell
15483   55210000000           VOX
17964   55210034000           VOX
19807   55210000000         Claro

In [209]:
a = pd.Series(a)

In [214]:
a = Claro_df['operator_name']  + ' ' + Claro_df['fraud number']

In [215]:
a

4878     Movistar 55210034000
7298        Vppr 552141185***
9127        Azercell 55210000
9411          VOX 55210034***
9421        Claro 55210000***
9938     Movistar 55210000000
11198    transit4 55210034***
11610         VOX 55210000000
13584        Zain 55210000000
13668    Azercell 55210000000
13879    transit4 55210034***
13900    Movistar 55210000***
14217        Zain 55210000000
15111         VOX 55210000000
15398    Azercell 55210000000
15466    Lifecell 55210000***
15483         VOX 55210000000
17964         VOX 55210034000
19807       Claro 55210000000
dtype: object

In [216]:
df3['fop'] = a

In [224]:
df3[df3['fop'].notna() == True]

,pk,duration,fraud operator,call date,network_name,order_name,country_name,operator_name,route_number,transit number,fraud number,b number,status_name,call_day,fop
4878,630924,0,NaN,2021-02-26 20:23:30,GSM,vivobr1,Peru,Movistar,51942886***,***,55210034000,5521933161132,fraud-local,2021-02-26,Movistar 55210034000
7298,619014,0,NaN,2021-02-25 17:22:06,IP,vivobr1,Russia,Vppr,79210057***,***,552141185***,5521942464641,false-detection,2021-02-25,Vppr 552141185***
9127,611454,0,NaN,2021-02-24 18:19:55,GSM,vivobr2,Azerbaijan,Azercell,9945055573***,***,55210000,5521930476489,fraud-local,2021-02-24,Azercell 55210000
9411,610084,0,NaN,2021-02-24 16:16:55,GSM,vivobr1,Paraguay,VOX,595964210***,***,55210034***,5521932668728,false-detection,2021-02-24,VOX 55210034***
9421,610018,0,NaN,2021-02-24 16:09:55,GSM,vivobr1,Paraguay,Claro,595991937***,***,55210000***,5529971150990,false-detection,2021-02-24,Claro 55210000***
9938,605594,0,NaN,2021-02-24 01:45:55,GSM,vivobr1,Peru,Movistar,51942886***,***,55210000000,5521995849805,fraud-local,2021-02-24,Movistar 55210000000
11198,601334,0,NaN,2021-02-23 17:32:56,TRANSIT,vivobr1,Kazakhstan,transit4,***,77780970***,55210034***,5521996096858,false-detection,2021-02-23,transit4 55210034***
11610,599547,0,NaN,2021-02-23 13:54:56,GSM,vivobr1,Paraguay,VOX,595964210***,***,55210000000,5521933350629,fraud-local,2021-02-23,VOX 55210000000
13584,588991,0,NaN,2021-02-22 13:47:34,GSM,vivobr2,Jordan,Zain,9627955517***,***,55210000000,5521998339510,fraud-local,2021-02-22,Zain 55210000000
13668,588358,0,NaN,2021-02-22 12:46:55,GSM,vivobr1,Azerbaijan,Azercell,9945055573***,***,55210000000,5521932849140,fraud-local,2021-02-22,Azercell 55210000000
13879,585907,0,NaN,2021-02-22 01:46:54,TRANSIT,vivobr1,Kazakhstan,transit4,***,77780970***,55210034***,5521996308031,false-detection,2021-02-22,transit4 55210034***
13900,585845,0,NaN,2021-02-22 01:35:54,GSM,vivobr1,Ecuador,Movistar,593995754***,***,55210000***,5521996384872,false-detection,2021-02-22,Movistar 55210000***
14217,584737,0,NaN,2021-02-21 23:16:56,GSM,vivobr1,Jordan,Zain,9627955517***,***,55210000000,5521950566553,fraud-local,2021-02-21,Zain 55210000000
15111,581038,0,NaN,2021-02-21 17:51:55,GSM,vivobr1,Paraguay,VOX,595964210***,***,55210000000,5521941752663,fraud-local,2021-02-21,VOX 55210000000
15398,579383,0,NaN,2021-02-21 15:25:55,GSM,vivobr1,Azerbaijan,Azercell,9945055573***,***,55210000000,5521932430865,fraud-local,2021-02-21,Azercell 55210000000
15466,578813,0,NaN,2021-02-21 14:32:55,GSM,vivobr1,Ukraine,Lifecell,380637081***,***,55210000***,5521943907825,false-detection,2021-02-21,Lifecell 55210000***
15483,578696,0,NaN,2021-02-21 14:21:58,GSM,vivobr2,Paraguay,VOX,595964210***,***,55210000000,5521942835549,fraud-local,2021-02-21,VOX 55210000000
17964,563875,0,NaN,2021-02-20 00:26:53,GSM,vivobr1,Paraguay,VOX,595964210***,***,55210034000,5521933568772,fraud-local,2021-02-20,VOX 55210034000
19807,554182,0,NaN,2021-02-19 00:43:13,GSM,vivobr1,Uruguay,Claro,59897064***,***,55210000000,5521932668728,fraud-local,2021-02-19,Claro 55210000000

In [225]:
df4 = df3[df3['fop'].notna() == True]

In [227]:
df4.to_excel('test1_solved23.xlsx')

In [229]:
Claro_df.to_excel('claro_df.xlsx')